<settings>
	<localRepository>d:\develop\repository</localRepository>
	<servers>
		<server>
			<id>central</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
		<server>
			<id>public-snapshots</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
		<server>
			<id>releases</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
		<server>
			<id>snapshots</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
		<server>
			<id>landa-mas-releases</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
		<server>
			<id>landa-mas-snapshots</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
		<server>
        		<id>docker-k8s-harbor</id>
        		<username>admin</username>
        		<password>Harbor12345</password>
        		<configuration>
            			<email>lin.wu@landasoft.com</email>
        		</configuration>
    	</server>
		<server>
				<id>docker-pcf-harbor</id>
				<username>admin</username>
				<password>landa</password>
				<configuration>
						<email>lin.wu@landasoft.com</email>
				</configuration>
        </server>
		<server>
				<id>docker-pks-harbor</id>
				<username>admin</username>
				<password>landa</password>
				<configuration>
						<email>lin.wu@landasoft.com</email>
				</configuration>
        </server>
        <server>
                <id>docker-aliyun-harbor</id>
                <username>server@landasoft.com</username>
                <password>Landa123</password>
                <configuration>
                        <email>lin.wu@landasoft.com</email>
                </configuration>
        </server>
        
	</servers>
	<profiles>
		<profile>
			<id>central</id>
			<repositories>
				<repository>
					<id>central</id>
					<url>http://maven.landaudev.com:9527/nexus/content/groups/public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://maven.landaudev.com:9527/nexus/content/groups/public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>snapshots</id>
			<repositories>
				<repository>
					<id>public-snapshots</id>
					<url>http://maven.landaudev.com:9527/nexus/content/repositories/snapshots/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		
		<profile>
			<id>maven</id>
			<repositories>
				<repository>
					<id>maven</id>
					<url>http://maven.apache.org</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>maven2</id>
			<repositories>
				<repository>
					<id>maven2</id>
					<url>http://repo1.maven.org/maven2/</url>

					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		
		<profile>
			<id>spring-milestone</id>
		    <repositories>
				<repository>
					<id>spring-milestone</id>
					<url>https://repo.spring.io/libs-release</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>spring-milestone</id>
					<url>https://repo.spring.io/libs-release</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>central-maven2</id>
			<repositories>
				<repository>
					<id>central-maven2</id>
					<url>http://central.maven.org/maven2/com/alibaba/druid/</url>

					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>snapshots</activeProfile>	
		<activeProfile>central</activeProfile>
		<activeProfile>maven</activeProfile>	
		<activeProfile>spring-milestone</activeProfile>	
		<activeProfile>maven2</activeProfile>
		<activeProfile>central-maven2</activeProfile>
	</activeProfiles>


</settings>
